.datahunter-bar{
  position: relative;
  .back1{
    position: absolute;
    left:196px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back2{
    position: absolute;
    left:257px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back3{
    position: absolute;
    left:382px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back4{
    position: absolute;
    left:443px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back5{
    position: absolute;
    left:568px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back6{
    position: absolute;
    left:629px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back7{
    position: absolute;
    left:753px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back8{
    position: absolute;
    left:814px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back9{
    position: absolute;
    left:940px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back10{
    position: absolute;
    left:1000px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back11{
    position: absolute;
    left:1125px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back12{
    position: absolute;
    left:1186px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back13{
    position: absolute;
    left:1311px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
  .back14{
    position: absolute;
    left:1371px;
    top:95px;
    width: 52px;
    height: 820px;
    background-image: url("./images/back.png");
    background-size: cover;
  }
}
