.jinyun-six {
  .left{
    width: 1521px;
    height: 100%;
    float:left;
    .left-up{
      width: 100%;
      height: 1027px;
    }
    .left-center{
      width: 100%;
      height: 1027px;
    }
    .left-down{
      position: relative;
      margin-top: 50px;
      width: 100%;
      height: 1000px;
    }
  }
  .right{
    width: 3042px;
    height: 100%;
    margin-left: 60px;
    float:left;
  }
}
