.datahunter-cards {
  .datahunter-cards-box {
    height: 445px;
    width: 830px;
    padding: 50px;
    box-sizing: border-box;
    background-image: url('./images/cards_1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .cards-box-content {
      position: relative;
      width: auto;
      height: 100%;
      color: #fff;
      font-size: 50px;
      .content-ps {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        text-align: right;
      }
      .content-p{
        margin-top: 5px;
        margin-bottom: 5px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
