.bubble-box{
  .title {
    font-size: 44px;
    color: #fff;
    margin-bottom: 20px;
  }
  .main{
    margin: 0;
    .bubbleS{
      position: absolute;
      width: 221px;
      height: 228px;
      line-height: 228px;
      text-align: center;
      background-image: url("./img/bubble.png");
    }
  }
}


