/* 定义一个走马灯动画 */

@-webkit-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-moz-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-ms-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-o-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@keyframes marquee {
  0%{left:0}
  100%{left: -100%}
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee div {
  display:inline-block;
  white-space: nowrap;
  position: absolute;
  overflow: hidden;

  -webkit-animation: marquee 20s linear infinite;
  -moz-animation: marquee 20s linear infinite;
  -ms-animation: marquee 20s linear infinite;
  -o-animation: marquee 20s linear infinite;
  animation: marquee 20s linear infinite;
}
